
<h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
  Algunos <br/> de los productos!
</h1>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
      <img class="h-auto max-w-full rounded-lg" src="public/rosa.png" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="public/girasol.png" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="public/tulipan.png" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="public/groot.jpeg" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="public/spiderman.jpeg" alt="">
</div>
<div>
  <img class="h-auto max-w-full rounded-lg" src="public/flor.jpeg" alt="">
</div>

</div>
